In [255]:
import pandas as pd
subdata = pd.read_csv("subwyfoot.csv")
subdata = subdata.reset_index()
subdata

          index 사용일자          노선명     역명  승차총승객수    하차총승객수  등록일자
0      20210501  9호선          노량진  19486   19311  20210504   NaN
1      20210501  5호선  올림픽공원(한국체대)   2406    1953  20210504   NaN
2      20210501  5호선           방이   4454    4330  20210504   NaN
3      20210501  5호선           오금   2047    1889  20210504   NaN
4      20210501  5호선           개롱   3667    3832  20210504   NaN
...         ...  ...          ...    ...     ...       ...   ...
18627  20210531  안산선           반월   4361    4161  20210603   NaN
18628  20210531  안산선          대야미   4898    4540  20210603   NaN
18629  20210531  안산선           산본  15489   16517  20210603   NaN
18630  20210531  수인선           인천    945    1500  20210603   NaN
18631  20210531  분당선           수서  13158   13246  20210603   NaN

[18632 rows x 7 columns]

In [256]:
subdata.columns = ['사용일자','노선명', '역명','승차총승객수','하차총승객수','e','f']
subdata = subdata.drop(['e','f'],axis=1)
subdata

           사용일자  노선명           역명  승차총승객수  하차총승객수
0      20210501  9호선          노량진   19486   19311
1      20210501  5호선  올림픽공원(한국체대)    2406    1953
2      20210501  5호선           방이    4454    4330
3      20210501  5호선           오금    2047    1889
4      20210501  5호선           개롱    3667    3832
...         ...  ...          ...     ...     ...
18627  20210531  안산선           반월    4361    4161
18628  20210531  안산선          대야미    4898    4540
18629  20210531  안산선           산본   15489   16517
18630  20210531  수인선           인천     945    1500
18631  20210531  분당선           수서   13158   13246

[18632 rows x 5 columns]

In [257]:
is_usable1 = subdata['노선명'] == '1호선'
is_usable2 = subdata['노선명'] == '2호선'
is_usable3 = subdata['노선명'] == '3호선'
is_usable4 = subdata['노선명'] == '4호선'
is_usable5 = subdata['노선명'] == '5호선'
is_usable6 = subdata['노선명'] == '6호선'
is_usable7 = subdata['노선명'] == '7호선'
is_usable8 = subdata['노선명'] == '8호선'
is_usable9 = subdata['노선명'] == '9호선'
is_usable = is_usable1|is_usable2|is_usable3|is_usable4|is_usable5|is_usable6|is_usable7|is_usable8|is_usable9

subdata = subdata[is_usable]
subdata = subdata.sort_values(by=['역명','사용일자'])
subdata = subdata.drop(['노선명'],axis=1)
subdata.head(10)

          사용일자    역명  승차총승객수  하차총승객수
87    20210501  가락시장    5485    5181
272   20210501  가락시장    5236    5152
696   20210502  가락시장    3574    3879
876   20210502  가락시장    2999    3819
1527  20210503  가락시장    7913    8592
1708  20210503  가락시장    8934    8877
2140  20210504  가락시장    7989    8743
2392  20210504  가락시장    8860    8682
2496  20210505  가락시장    4584    4593
2677  20210505  가락시장    4487    4837

In [243]:
stations = subdata['역명'].values

stations = set(stations)
stations = list(stations)
stations.sort()
stations

['가락시장',
 '가산디지털단지',
 '가양',
 '강남',
 '강남구청',
 '강동',
 '강동구청',
 '강변(동서울터미널)',
 '강일',
 '개롱',
 '개화',
 '개화산',
 '거여',
 '건대입구',
 '경복궁(정부서울청사)',
 '경찰병원',
 '고덕',
 '고려대(종암)',
 '고속터미널',
 '공덕',
 '공릉(서울과학기술대)',
 '공항시장',
 '광나루(장신대)',
 '광명사거리',
 '광화문(세종문화회관)',
 '광흥창(서강)',
 '교대(법원.검찰청)',
 '구로디지털단지',
 '구반포',
 '구산',
 '구의(광진구청)',
 '구파발',
 '국회의사당',
 '군자(능동)',
 '굴포천',
 '굽은다리(강동구민회관앞)',
 '금호',
 '길동',
 '길음',
 '김포공항',
 '까치산',
 '까치울',
 '낙성대(강감찬)',
 '남구로',
 '남부터미널(예술의전당)',
 '남성',
 '남태령',
 '남한산성입구(성남법원.검찰청)',
 '내방',
 '노들',
 '노량진',
 '노원',
 '녹번',
 '녹사평(용산구청)',
 '논현',
 '단대오거리',
 '답십리',
 '당고개',
 '당산',
 '대림(구로구청)',
 '대청',
 '대치',
 '대흥(서강대앞)',
 '도곡',
 '도림천',
 '도봉산',
 '독립문',
 '독바위',
 '돌곶이',
 '동대문',
 '동대문역사문화공원(DDP)',
 '동대입구',
 '동묘앞',
 '동작(현충원)',
 '둔촌동',
 '등촌',
 '디지털미디어시티',
 '뚝섬',
 '뚝섬유원지',
 '마곡',
 '마곡나루(서울식물원)',
 '마들',
 '마장',
 '마천',
 '마포',
 '마포구청',
 '망원',
 '매봉',
 '먹골',
 '면목',
 '명동',
 '명일',
 '모란',
 '목동',
 '몽촌토성(평화의문)',
 '무악재',
 '문래',
 '문정',
 '미사',
 '미아(서울사이버대학)',
 '미아사거리',
 '반포',
 '발산',
 '방배',
 '방이',
 '방화',
 '버티고개',
 '보라매',
 '보문',
 '복정',
 '봉천',
 '봉화산(서울의료원)',
 '부천시청',
 '부천종합운동장',
 '부평구청',
 '불광',
 '사가정',
 '사당',
 '사평',
 '산성',
 '삼각지',
 '삼산체육관',
 '삼성(무역센터)',
 '상계',
 '상도',
 '상동',
 '상봉(시외버스터미널)',
 '상수',
 '상왕십리',
 '상월곡(한국과학기술연구원)',
 '상일동',
 '새절(신사)',
 '샛강',
 '서대문',
 '서울대입구(관악구청)',
 '서울역',
 '서초',
 '석계',
 '석촌',
 '선릉',
 '선유도',
 '성수',
 '성신여대입구(돈암)',
 '송정',
 '송파',
 '수락산',
 '수서',
 '수유(강북구청)',
 '수진',
 '숙대입구(갈월)',
 '숭실대입구(살피재)',
 '시청',
 '신금호',
 '신길',
 '신내',
 '신논현',
 '신답',
 '신당',
 '신대방',
 '신대방삼거리',
 '신도림',
 '신림',
 '신목동',
 '신반포',
 '신방화',
 '신사',
 '신설동',
 '신용산',
 '신정(은행정)',
 '신정네거리',
 '신중동',
 '신촌',
 '신풍',
 '신흥',
 '쌍문',
 '아차산(어린이대공원후문)',
 '아현',
 '안국',
 '안암(고대병원앞)',
 '암사',
 '압구정',
 '애오개',
 '약수',
 '양재(서초구청)',
 '양천구청',
 '양천향교',
 '양평',
 '어린이대공원(세종대)',
 '여의나루',
 '여의도',
 '역삼',
 '역촌',
 '연신내',
 '염창',
 '영등포구청',
 '영등포시장',
 '오금',
 '오목교(목동운동장앞)',
 '옥수',
 '온수(성공회대입구)',
 '올림픽공원(한국체대)',
 '왕십리(성동구청)',
 '용답',
 '용두(동대문구청)',
 '용마산(용마폭포공원)',
 '우장산',
 '월곡(동덕여대)',
 '월드컵경기장(성산)',
 '을지로3가',
 '을지로4가',
 '을지로입구',
 '응암',
 '이대',
 '이수',
 '이촌(국립중앙박물관)',
 '이태원',
 '일원',
 '잠실(송파구청)',
 '잠실나루',
 '잠실새내',
 '잠원',
 '장승배기',
 '장암',
 '장지',
 '장한평',
 '제기동',
 '종각',
 '종로3가',
 '종로5가',
 '종합운동장',
 '중계',
 '중곡',
 '중화',
 '증미',
 '증산(명지대앞)',
 '지축',
 '창동',
 '창신',
 '천왕',
 '천호(풍납토성)',
 '철산',
 '청구',
 '청담',
 '청량리(서울시립대입구)',
 '총신대입구(이수)',
 '춘의',
 '충무로',
 '충정로(경기대입구)',
 '태릉입구',
 '하계',
 '하남검단산',
 '하남시청(덕풍·신장)',
 '하남풍산',
 '학동',
 '학여울',
 '한강진',
 '한성대입구(삼선교)',
 '한양대',
 '합정',
 '행당',
 '혜화',
 '홍대입구',
 '홍제',
 '화곡',
 '화랑대(서울여대입구)',
 '회현(남대문시장)',
 '효창공원앞',
 '흑석(중앙대입구)']

In [261]:
subdata1 = subdata
for i in range(268):
  for j in range(20210501,20210532):
    date1 = subdata1['사용일자'] == j
    name1 = subdata1['역명'] == stations[i]
    d_and_n = date1&name1
     
    if sum(d_and_n)>1:
      tempdata = subdata1[d_and_n]
      subdata1 = subdata1[~d_and_n]
      t_data = {'사용일자':j,'역명':stations[i],'승차총승객수':tempdata.sum()[2],'하차총승객수':tempdata.sum()[3]}
      subdata1 = subdata1.append(t_data, ignore_index=True)
subdata1 = subdata1.sort_values(by=['역명','사용일자'])
subdata1.head(50)

          사용일자       역명  승차총승객수  하차총승객수
7168  20210501     가락시장   10721   10333
7169  20210502     가락시장    6573    7698
7170  20210503     가락시장   16847   17469
7171  20210504     가락시장   16849   17425
7172  20210505     가락시장    9071    9430
7173  20210506     가락시장   17324   17984
7174  20210507     가락시장   17077   17623
7175  20210508     가락시장   10115    9635
7176  20210509     가락시장    6296    7374
7177  20210510     가락시장   16181   16847
7178  20210511     가락시장   17110   17647
7179  20210512     가락시장   17134   17591
7180  20210513     가락시장   16944   17654
7181  20210514     가락시장   17653   18429
7182  20210515     가락시장   11028   10676
7183  20210516     가락시장    5615    6692
7184  20210517     가락시장   16254   17035
7185  20210518     가락시장   17804   18727
7186  20210519     가락시장    9581    9938
7187  20210520     가락시장   16600   17251
7188  20210521     가락시장   17213   18020
7189  20210522     가락시장   11178   10987
7190  20210523     가락시장    6289    7353
7191  20210524     가락시장   16788   17368
7192  20210525     가락시장   16854   17342
7193  20210526     가락시장   16990   17550
7194  20210527     가락시장   16298   16939
7195  20210528     가락시장   16792   17254
7196  20210529     가락시장   11125   10784
7197  20210530     가락시장    6630    7580
7198  20210531     가락시장   16274   16788
0     20210501  가산디지털단지   13779   12664
1     20210502  가산디지털단지   10803    9926
2     20210503  가산디지털단지   48064   48599
3     20210504  가산디지털단지   48351   48198
4     20210505  가산디지털단지   12662   11648
5     20210506  가산디지털단지   47456   47983
6     20210507  가산디지털단지   47401   46516
7     20210508  가산디지털단지   13281   11922
8     20210509  가산디지털단지   10123    9860
9     20210510  가산디지털단지   48298   48619
10    20210511  가산디지털단지   48743   49068
11    20210512  가산디지털단지   48331   48817
12    20210513  가산디지털단지   48180   48671
13    20210514  가산디지털단지   48063   47672
14    20210515  가산디지털단지   14034   12744
15    20210516  가산디지털단지    8391    7547
16    20210517  가산디지털단지   48045   48599
17    20210518  가산디지털단지   49015   49453
18    20210519  가산디지털단지   13100   12205

In [12]:
testdata = subdata1[subdata1['사용일자']==20210531]
testdata

          사용일자           역명  승차총승객수  하차총승객수
7198  20210531         가락시장   16274   16788
30    20210531      가산디지털단지   48159   48829
61    20210531           가양   19714   19249
92    20210531           강남   77677   76332
123   20210531         강남구청   15822   17419
...        ...          ...     ...     ...
7043  20210531           화곡   27759   26213
7074  20210531  화랑대(서울여대입구)   11347    8824
7105  20210531    회현(남대문시장)   23273   24758
7136  20210531        효창공원앞    6881    6183
7167  20210531    흑석(중앙대입구)    7605    7870

[268 rows x 4 columns]

In [13]:
testdata = testdata.drop(['사용일자'],axis=1)
testdata = testdata.set_index('역명')
testdata

             승차총승객수  하차총승객수
역명
가락시장          16274   16788
가산디지털단지       48159   48829
가양            19714   19249
강남            77677   76332
강남구청          15822   17419
...             ...     ...
화곡            27759   26213
화랑대(서울여대입구)   11347    8824
회현(남대문시장)     23273   24758
효창공원앞          6881    6183
흑석(중앙대입구)      7605    7870

[268 rows x 2 columns]

In [14]:
traindata = subdata1[subdata1['사용일자']!=20210531]
traindata

          사용일자         역명  승차총승객수  하차총승객수
7168  20210501       가락시장   10721   10333
7169  20210502       가락시장    6573    7698
7170  20210503       가락시장   16847   17469
7171  20210504       가락시장   16849   17425
7172  20210505       가락시장    9071    9430
...        ...        ...     ...     ...
7162  20210526  흑석(중앙대입구)    8249    8424
7163  20210527  흑석(중앙대입구)    7799    8175
7164  20210528  흑석(중앙대입구)    7827    8017
7165  20210529  흑석(중앙대입구)    5216    5326
7166  20210530  흑석(중앙대입구)    3795    4032

[8015 rows x 4 columns]

In [15]:
# 5월 1일 = 토요일
traindata_MON = traindata[traindata['사용일자']%7==5]
traindata_TUE = traindata[traindata['사용일자']%7==6]
traindata_WED = traindata[traindata['사용일자']%7==0]
traindata_THU = traindata[traindata['사용일자']%7==1]
traindata_FRI = traindata[traindata['사용일자']%7==2]
traindata_SAT = traindata[traindata['사용일자']%7==3]
traindata_SUN = traindata[traindata['사용일자']%7==4]

In [16]:
# 결과 값 양식 확인용
is_station_name = traindata_MON['역명'] == stations[0]
train_mean = traindata_MON[is_station_name]
train_mean.mean()

사용일자      20210513.50
승차총승객수       16517.50
하차총승객수       17179.75
dtype: float64

In [17]:
# 역별 요일 평균값
from pandas import Series, DataFrame

s_m_res_MON = {}
s_m_res_TUE = {}
s_m_res_WED = {}
s_m_res_THU = {}
s_m_res_FRI = {}
s_m_res_SAT = {}
s_m_res_SUN = {}

for i in range(268):
  # MON
  is_station = traindata_MON['역명'] == stations[i]
  train_mean = traindata_MON[is_station]
  s_m_res_MON[stations[i]] = [train_mean.mean()[1], train_mean.mean()[2]]
  # TUE
  is_station = traindata_TUE['역명'] == stations[i]
  train_mean = traindata_TUE[is_station]
  s_m_res_TUE[stations[i]] = [train_mean.mean()[1], train_mean.mean()[2]]
  # WED
  is_station = traindata_WED['역명'] == stations[i]
  train_mean = traindata_WED[is_station]
  s_m_res_WED[stations[i]] = [train_mean.mean()[1], train_mean.mean()[2]]
  # THU
  is_station = traindata_THU['역명'] == stations[i]
  train_mean = traindata_THU[is_station]
  s_m_res_THU[stations[i]] = [train_mean.mean()[1], train_mean.mean()[2]]
  # FRI
  is_station = traindata_FRI['역명'] == stations[i]
  train_mean = traindata_FRI[is_station]
  s_m_res_FRI[stations[i]] = [train_mean.mean()[1], train_mean.mean()[2]]
  # SAT
  is_station = traindata_SAT['역명'] == stations[i]
  train_mean = traindata_SAT[is_station]
  s_m_res_SAT[stations[i]] = [train_mean.mean()[1], train_mean.mean()[2]]
  # SUN
  is_station = traindata_SUN['역명'] == stations[i]
  train_mean = traindata_SUN[is_station]
  s_m_res_SUN[stations[i]] = [train_mean.mean()[1], train_mean.mean()[2]]

mean_res_MON = DataFrame(s_m_res_MON)
mean_res_TUE = DataFrame(s_m_res_TUE)
mean_res_WED = DataFrame(s_m_res_WED)
mean_res_THU = DataFrame(s_m_res_THU)
mean_res_FRI = DataFrame(s_m_res_FRI)
mean_res_SAT = DataFrame(s_m_res_SAT)
mean_res_SUN = DataFrame(s_m_res_SUN)

mean_res_MON

,가락시장,가산디지털단지,가양,강남,강남구청,강동,강동구청,강변(동서울터미널),강일,개롱,...,합정,행당,혜화,홍대입구,홍제,화곡,화랑대(서울여대입구),회현(남대문시장),효창공원앞,흑석(중앙대입구)
0,16517.50,48476.25,19969.00,81613.0,15876.25,18456.25,10517.00,29604.5,3043.75,6488.25,...,40110.25,8181.75,28304.00,45717.50,17299.0,28196.25,11437.25,22910.5,6920.25,7544.25
1,17179.75,48838.00,19634.25,80331.5,17420.75,17675.00,10973.25,28680.5,3204.50,6716.25,...,40937.50,7336.75,28439.75,47228.25,16564.5,26491.25,8933.25,24376.0,6308.25,7961.00

In [18]:
# transpose
mean_res_MON = mean_res_MON.rename(index={0:'승차총승객수', 1:'하차총승객수'})
mean_res_MON = mean_res_MON.transpose()
mean_res_TUE = mean_res_TUE.rename(index={0:'승차총승객수', 1:'하차총승객수'})
mean_res_TUE = mean_res_TUE.transpose()
mean_res_WED = mean_res_WED.rename(index={0:'승차총승객수', 1:'하차총승객수'})
mean_res_WED = mean_res_WED.transpose()
mean_res_THU = mean_res_THU.rename(index={0:'승차총승객수', 1:'하차총승객수'})
mean_res_THU = mean_res_THU.transpose()
mean_res_FRI = mean_res_FRI.rename(index={0:'승차총승객수', 1:'하차총승객수'})
mean_res_FRI = mean_res_FRI.transpose()
mean_res_SAT = mean_res_SAT.rename(index={0:'승차총승객수', 1:'하차총승객수'})
mean_res_SAT = mean_res_SAT.transpose()
mean_res_SUN = mean_res_SUN.rename(index={0:'승차총승객수', 1:'하차총승객수'})
mean_res_SUN = mean_res_SUN.transpose()

mean_res_MON

               승차총승객수    하차총승객수
가락시장         16517.50  17179.75
가산디지털단지      48476.25  48838.00
가양           19969.00  19634.25
강남           81613.00  80331.50
강남구청         15876.25  17420.75
...               ...       ...
화곡           28196.25  26491.25
화랑대(서울여대입구)  11437.25   8933.25
회현(남대문시장)    22910.50  24376.00
효창공원앞         6920.25   6308.25
흑석(중앙대입구)     7544.25   7961.00

[268 rows x 2 columns]

In [19]:
# 5/31 월요일 기준
# (월요일평균 하차 - 승차) vs (테스트날 하차 - 승차)
# 테스트날이 월요일평균의 0.5~1.5 사이면 보통 / 0.5 미만이면 여유 / 1.5 초과면 혼잡
# 계산 위해 리스트로 변환
mean_res_MON_1 = mean_res_MON['승차총승객수'].values.tolist()
mean_res_MON_2 = mean_res_MON['하차총승객수'].values.tolist()
testdata_1 = testdata['승차총승객수'].values.tolist()
testdata_2 = testdata['하차총승객수'].values.tolist()

In [20]:
print(len(mean_res_MON_1))
print(len(mean_res_MON_2))
print(len(testdata_1))
print(len(testdata_2))

268
268
268
268

In [21]:
print(max(mean_res_MON_1))
print(max(mean_res_MON_2))
print(max(testdata_1))
print(max(testdata_2))

81613.0
80331.5
77677
76332

In [22]:
res = []
for i in range(268):
  avg_delta = mean_res_MON_2[i] + mean_res_MON_1[i]
  test_delta = testdata_2[i] + testdata_1[i]
  lower_bnd = avg_delta * 0.985
  upper_bnd = avg_delta * 1.0001
  # 0.5~1.5 보통 / 0.5 미만 여유 / 1.5 초과 혼잡
  if test_delta >= lower_bnd and test_delta <= upper_bnd:
    res.append('보통')
  elif test_delta > upper_bnd:
    res.append('혼잡')
  elif test_delta < lower_bnd:
    res.append('여유')

print(res)

['여유', '보통', '여유', '여유', '보통', '여유', '여유', '여유', '혼잡', '보통', '여유', '보통', '혼잡', '여유', '여유', '여유', '여유', '여유', '여유', '보통', '여유', '여유', '보통', '혼잡', '여유', '보통', '보통', '보통', '보통', '여유', '보통', '여유', '혼잡', '보통', '혼잡', '보통', '여유', '여유', '여유', '여유', '보통', '혼잡', '여유', '보통', '여유', '여유', '여유', '보통', '보통', '여유', '여유', '여유', '보통', '혼잡', '보통', '보통', '혼잡', '보통', '보통', '보통', '혼잡', '혼잡', '여유', '여유', '여유', '보통', '보통', '보통', '여유', '보통', '보통', '혼잡', '보통', '혼잡', '보통', '보통', '보통', '보통', '여유', '여유', '보통', '보통', '보통', '보통', '여유', '보통', '여유', '보통', '보통', '혼잡', '혼잡', '보통', '여유', '보통', '혼잡', '보통', '혼잡', '보통', '보통', '여유', '보통', '보통', '여유', '혼잡', '보통', '보통', '여유', '혼잡', '여유', '혼잡', '혼잡', '보통', '혼잡', '혼잡', '여유', '혼잡', '보통', '여유', '여유', '보통', '혼잡', '혼잡', '혼잡', '혼잡', '보통', '혼잡', '보통', '여유', '보통', '보통', '보통', '보통', '보통', '보통', '보통', '여유', '보통', '보통', '여유', '혼잡', '보통', '혼잡', '여유', '보통', '여유', '보통', '여유', '보통', '보통', '여유', '보통', '보통', '혼잡', '보통', '보통', '여유', '혼잡', '여유', '혼잡', '보통', '보통', '보통', '여유', '여유', '보통', '여유', '보통', '혼잡', '보통', '여유', '혼잡', '여유', '보통', '보통', '여유', '보통', '보통', '여유', '여유', '보통', '여유', '혼잡', '보통', '보통', '보통', '혼잡', '여유', '혼잡', '여유', '보통', '여유', '보통', '보통', '보통', '여유', '여유', '보통', '보통', '보통', '보통', '혼잡', '여유', '혼잡', '보통', '보통', '보통', '보통', '보통', '보통', '혼잡', '혼잡', '보통', '여유', '보통', '여유', '여유', '보통', '보통', '보통', '보통', '보통', '보통', '여유', '보통', '보통', '혼잡', '보통', '여유', '보통', '여유', '보통', '여유', '보통', '보통', '보통', '혼잡', '보통', '보통', '보통', '보통', '보통', '보통', '보통', '혼잡', '보통', '혼잡', '보통', '혼잡', '여유', '보통', '혼잡', '보통', '혼잡', '보통', '보통', '여유', '여유', '여유', '여유', '혼잡', '여유', '여유', '보통', '보통', '보통', '혼잡', '보통', '보통']

In [25]:
a = [] # 여유
b = [] # 보통
c = [] # 혼잡

for i in range(268):
  if res[i] == '여유':
    a.append(i)
  elif res[i] == '보통':
    b.append(i)
  elif res[i] == '혼잡':
    c.append(i)

print(len(a))
print(len(b))
print(len(c))
stations

83
134
51

['가락시장',
 '가산디지털단지',
 '가양',
 '강남',
 '강남구청',
 '강동',
 '강동구청',
 '강변(동서울터미널)',
 '강일',
 '개롱',
 '개화',
 '개화산',
 '거여',
 '건대입구',
 '경복궁(정부서울청사)',
 '경찰병원',
 '고덕',
 '고려대(종암)',
 '고속터미널',
 '공덕',
 '공릉(서울과학기술대)',
 '공항시장',
 '광나루(장신대)',
 '광명사거리',
 '광화문(세종문화회관)',
 '광흥창(서강)',
 '교대(법원.검찰청)',
 '구로디지털단지',
 '구반포',
 '구산',
 '구의(광진구청)',
 '구파발',
 '국회의사당',
 '군자(능동)',
 '굴포천',
 '굽은다리(강동구민회관앞)',
 '금호',
 '길동',
 '길음',
 '김포공항',
 '까치산',
 '까치울',
 '낙성대(강감찬)',
 '남구로',
 '남부터미널(예술의전당)',
 '남성',
 '남태령',
 '남한산성입구(성남법원.검찰청)',
 '내방',
 '노들',
 '노량진',
 '노원',
 '녹번',
 '녹사평(용산구청)',
 '논현',
 '단대오거리',
 '답십리',
 '당고개',
 '당산',
 '대림(구로구청)',
 '대청',
 '대치',
 '대흥(서강대앞)',
 '도곡',
 '도림천',
 '도봉산',
 '독립문',
 '독바위',
 '돌곶이',
 '동대문',
 '동대문역사문화공원(DDP)',
 '동대입구',
 '동묘앞',
 '동작(현충원)',
 '둔촌동',
 '등촌',
 '디지털미디어시티',
 '뚝섬',
 '뚝섬유원지',
 '마곡',
 '마곡나루(서울식물원)',
 '마들',
 '마장',
 '마천',
 '마포',
 '마포구청',
 '망원',
 '매봉',
 '먹골',
 '면목',
 '명동',
 '명일',
 '모란',
 '목동',
 '몽촌토성(평화의문)',
 '무악재',
 '문래',
 '문정',
 '미사',
 '미아(서울사이버대학)',
 '미아사거리',
 '반포',
 '발산',
 '방배',
 '방이',
 '방화',
 '버티고개',
 '보라매',
 '보문',
 '복정',
 '봉천',
 '봉화산(서울의료원)',
 '부천시청',
 '부천종합운동장',
 '부평구청',
 '불광',
 '사가정',
 '사당',
 '사평',
 '산성',
 '삼각지',
 '삼산체육관',
 '삼성(무역센터)',
 '상계',
 '상도',
 '상동',
 '상봉(시외버스터미널)',
 '상수',
 '상왕십리',
 '상월곡(한국과학기술연구원)',
 '상일동',
 '새절(신사)',
 '샛강',
 '서대문',
 '서울대입구(관악구청)',
 '서울역',
 '서초',
 '석계',
 '석촌',
 '선릉',
 '선유도',
 '성수',
 '성신여대입구(돈암)',
 '송정',
 '송파',
 '수락산',
 '수서',
 '수유(강북구청)',
 '수진',
 '숙대입구(갈월)',
 '숭실대입구(살피재)',
 '시청',
 '신금호',
 '신길',
 '신내',
 '신논현',
 '신답',
 '신당',
 '신대방',
 '신대방삼거리',
 '신도림',
 '신림',
 '신목동',
 '신반포',
 '신방화',
 '신사',
 '신설동',
 '신용산',
 '신정(은행정)',
 '신정네거리',
 '신중동',
 '신촌',
 '신풍',
 '신흥',
 '쌍문',
 '아차산(어린이대공원후문)',
 '아현',
 '안국',
 '안암(고대병원앞)',
 '암사',
 '압구정',
 '애오개',
 '약수',
 '양재(서초구청)',
 '양천구청',
 '양천향교',
 '양평',
 '어린이대공원(세종대)',
 '여의나루',
 '여의도',
 '역삼',
 '역촌',
 '연신내',
 '염창',
 '영등포구청',
 '영등포시장',
 '오금',
 '오목교(목동운동장앞)',
 '옥수',
 '온수(성공회대입구)',
 '올림픽공원(한국체대)',
 '왕십리(성동구청)',
 '용답',
 '용두(동대문구청)',
 '용마산(용마폭포공원)',
 '우장산',
 '월곡(동덕여대)',
 '월드컵경기장(성산)',
 '을지로3가',
 '을지로4가',
 '을지로입구',
 '응암',
 '이대',
 '이수',
 '이촌(국립중앙박물관)',
 '이태원',
 '일원',
 '잠실(송파구청)',
 '잠실나루',
 '잠실새내',
 '잠원',
 '장승배기',
 '장암',
 '장지',
 '장한평',
 '제기동',
 '종각',
 '종로3가',
 '종로5가',
 '종합운동장',
 '중계',
 '중곡',
 '중화',
 '증미',
 '증산(명지대앞)',
 '지축',
 '창동',
 '창신',
 '천왕',
 '천호(풍납토성)',
 '철산',
 '청구',
 '청담',
 '청량리(서울시립대입구)',
 '총신대입구(이수)',
 '춘의',
 '충무로',
 '충정로(경기대입구)',
 '태릉입구',
 '하계',
 '하남검단산',
 '하남시청(덕풍·신장)',
 '하남풍산',
 '학동',
 '학여울',
 '한강진',
 '한성대입구(삼선교)',
 '한양대',
 '합정',
 '행당',
 '혜화',
 '홍대입구',
 '홍제',
 '화곡',
 '화랑대(서울여대입구)',
 '회현(남대문시장)',
 '효창공원앞',
 '흑석(중앙대입구)']

In [27]:
#괄호안 문자없애기
import re

for i in range(len(stations)):
    stations[i] = re.sub(r'\([^)]*\)', '', stations[i])

#y는 여유, o는 보통, h는 혼잡    
y = []
o = []
h = []

for i in a:
    y.append(stations[i])


for i in b:
    o.append(stations[i])
    
for i in c:
    h.append(stations[i])

len(y)

83

In [28]:
df1 = pd.read_csv("국가철도공단_수도권1호선_역위치_20201121.csv")
df1 = df1[['역명','경도','위도']]
df2 = pd.read_csv("국가철도공단_수도권2호선_역위치_20201112.csv")
df2 = df2[['역명','경도','위도']]
df3 = pd.read_csv("국가철도공단_수도권3호선_역위치_20201121.csv")
df3 = df3[['역명','경도','위도']]
df4 = pd.read_csv("국가철도공단_수도권4호선_역위치_20201121.csv")
df4 = df4[['역명','경도','위도']]
df5 = pd.read_csv("국가철도공단_수도권5호선_역위치_20201112.csv")
df5 = df5[['역명','경도','위도']]
df6 = pd.read_csv("국가철도공단_수도권6호선_역위치_20201112.csv")
df6 = df6[['역명','경도','위도']]
df7 = pd.read_csv("국가철도공단_수도권7호선_역위치_20201112.csv")
df7 = df7[['역명','경도','위도']]
df8 = pd.read_csv("국가철도공단_수도권8호선_역위치_20201121.csv")
df8 = df8[['역명','경도','위도']]
df9 = pd.read_csv("국가철도공단_수도권9호선_역위치_20201121.csv")
df9 = df9[['역명','경도','위도']]

df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9])
df = df.sort_values(by=['역명']).reset_index(drop=True)
df = df.dropna().drop_duplicates(['역명'])
df

            역명          경도         위도
0           가능  127.044213  37.748577
1         가락시장  127.118234  37.492522
3      가산디지털단지  126.882343  37.481072
5           가양  126.854456  37.561391
6           간석  126.694181  37.464737
..         ...         ...        ...
407         회기  127.057583  37.589460
408         회룡  127.046895  37.724846
409  회현(남대문시장)  126.978246  37.558514
410      효창공원앞  126.961351  37.539261
411  흑석(중앙대입구)  126.963708  37.508770

[381 rows x 3 columns]

In [223]:
#index: 역, columns:경도, 위도인 여유, 보통, 혼잡 df만들기
dfy = df[(df['역명'].isin(y))]
dfo = df[(df['역명'].isin(o))]
dfh = df[(df['역명'].isin(h))]
dfy = dfy.reset_index(drop=True)
dfo = dfo.reset_index(drop=True)
dfh = dfh.reset_index(drop=True)
dfh

         역명          경도         위도
0        거여  127.144150  37.493105
1     광명사거리  126.854876  37.479252
2     국회의사당  126.917874  37.528105
3       굴포천  126.731280  37.506997
4       까치울  126.810939  37.506207
5       답십리  127.052704  37.566747
6        대청  127.079532  37.493514
7        대치  127.063642  37.494612
8      동대입구  127.005602  37.559052
9        동작  126.979306  37.502971
10       면목  127.087503  37.588579
11       명동  126.986325  37.560989
12       문래  126.894760  37.517933
13       방배  126.997596  37.481426
14      보라매  126.920428  37.499872
15       복정  127.126662  37.470047
16       봉천  126.941892  37.482362
17     부천시청  126.763538  37.504631
18  부천종합운동장  126.797337  37.505380
19       불광  126.929887  37.610469
20      삼각지  126.973110  37.534777
21    삼산체육관  126.742153  37.506411
22       상계  127.073572  37.660878
23       상동  126.753083  37.505781
24       선릉  127.049008  37.504503
25       성수  127.055961  37.544581
26      신금호  127.020331  37.554548
27       신답  127.046481  37.570040
28      신대방  126.913149  37.487462
29      신용산  126.967894  37.529170
30      신중동  126.775960  37.503048
31      애오개  126.956820  37.553736
32     양천향교  126.841333  37.568381
33       용답  127.050899  37.561904
34    을지로4가  126.998079  37.566941
35    을지로입구  126.982618  37.566014
36      제기동  127.034893  37.578103
37       지축  126.913951  37.648048
38       춘의  126.787036  37.503663
39      충정로  126.963672  37.559973
40       행당  127.029476  37.557322

In [224]:
import folium

m = folium.Map(location=[37.497115, 126.971821], zoom_start=11)
m

In [225]:
from folium.plugins import MarkerCluster

#marker_cluster = MarkerCluster().add_to(m)
marker_cluster=MarkerCluster().add_to(m)

for i in range(len(dfy)):
    folium.Marker(location=[dfy['위도'][i],dfy['경도'][i]],
                 tooltip=dfy['역명'][i],popup='여유',icon=folium.Icon(color='green',icon='map-marker')).add_to(marker_cluster)
for j in range(len(dfo)):
    folium.Marker(location=[dfo['위도'][j],dfo['경도'][j]],
                  tooltip=dfo['역명'][j],popup='보통',icon=folium.Icon(color='orange',icon='map-marker')).add_to(marker_cluster)
for k in range(len(dfh)):
    folium.Marker(location=[dfh['위도'][k],dfh['경도'][k]],
                  tooltip=dfh['역명'][k],popup='혼잡',icon=folium.Icon(color='red',icon='map-marker')).add_to(marker_cluster)

m.save('subwymap.html')